<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/api/sessions/register">
    <label for="first_name">First name</label>
    <input type="text" name="first_name" required>

    <label for="last_name">Last name</label>
    <input type="text" name="last_name" required>

    <label for="email">Email</label>
    <input type="email" name="email" required>

    <label for="age">Age</label>
    <input type="number" name="age" required>

    <label for="password">Password</label>
    <input type="password" name="password" required>

    <label for="rol">Rol</label>
    <input type="text" name="rol" required>

    <button type="submit">Register</button>
</form>
</body>
</html>